{% extends 'base.html' %}
{% load drf_custom_tags %}

{% block content %}
<h1>EXEMPLO FORMULÁRIO</h1>

<form name="sample-form" action="{% drf_form_url 'api-foo' instance.id %}" method="{% drf_form_method instance.id %}">
    {% drf_field serializer.name %}
    {% drf_field serializer.is_active %}
    <input type="submit" value="Enviar">
</form>
{% endblock %}

{% block js %}
<script>
$(function() {
    $('form[name="sample-form"]').ajaxForm({
        'on_success': function(response) {
            window.location.href = '/listing';
        }
    });
});
</script>
{% endblock %}