{% extends 'base.html' %}
{% load el_pagination_tags %}

{% block content %}
<h1>EXEMPLO LISTA</h1>

{% paginate items %}
{% for item in items %}
    <ul>
        <li><a href="{% url 'foo-detail' item.id %}">{{ item.name }} - {{ item.is_active }}</a></li>
    </ul>
{% endfor %}
{% show_pages %}

    <a href="{% url 'foo-create' %}">Cadastrar</a>

{% endblock %}
