{% for key, text in field.choices.items %}
<div class="checkbox">
  <label>
    <input type="checkbox" name="{{ field.name }}" value="{{ key }}" {% if key in field.value %}checked{% endif %}>
    {{ text }}
  </label>
</div>
{% endfor %}
