{% load i18n %}
{% trans "None" as none_choice %}

{% if field.allow_null or field.allow_blank %}
<div class="radio">
  <label>
    <input type="radio" name="{{ field.name }}" value="" {% if not field.value %}checked{% endif %}>
    {{ none_choice }}
  </label>
</div>
{% endif %}

{% for key, text in field.choices.items %}
<div class="radio">
  <label>
    <input type="radio" name="{{ field.name }}" value="{{ key }}" {% if key == field.value %}checked{% endif %}>
    {{ text }}
  </label>
</div>
{% endfor %}
