{% load i18n %}
{% trans "No items to select." as no_items %}

<select multiple {{ field.choices|yesno:",disabled" }} class="form-control" name="{{ field.name }}">
  {% for select in field.iter_options %}
      {% if select.start_option_group %}
        <optgroup label="{{ select.label }}">
      {% elif select.end_option_group %}
        </optgroup>
      {% else %}
        <option value="{{ select.value }}" {% if select.value in field.value %}selected{% endif %} {% if select.disabled %}disabled{% endif %}>{{ select.display_text }}</option>
      {% endif %}
  {% empty %}
  <option>{{ no_items }}</option>
{% endfor %}
</select>
