{% load static %}
<html>
<head>
{% block base_css %}{% endblock %}
{% block base_js %}
<script type="text/javascript" src="{% static 'frontend/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/forms.js' %}"></script>
{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
{% block js %}{% endblock %}

</body>
</html>